<section class="sidebar">
  <!-- Sidebar user panel -->

  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link root_path do %>
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    <% end %>


    <%= nav_link proyectos_url do %>
        <i class="fa fa-clipboard"></i>
        Proyectos
      <% end %>
    <%= nav_link "#" do %>
        <i class="fa fa-users"></i>
        Cliente
    <% end %>
    <%= nav_link "#" do %>
        <i class="fa fa-envelope"></i>
        Contacto
    <% end %>
    <%= nav_link "#" do %>
        <i class="fa fa-shopping-cart"></i>
        Cotización
    <% end %>
    <%= nav_link "#"  do %>
    <i class="fa fa-file-image-o"></i>
        Galeria
    <% end %>
    <%= nav_link "#" do %>
    <i class="fa fa-university"></i>
        Infraestructura
    <%end%>
    <%= nav_link "#" do %>
        <i class="fa fa-suitcase"></i>
        Proveedores
    <%end%>
    <%= nav_link "#" do %>
        <i class="fa fa-pencil-square-o" ></i>
            Referencias
  <% end %>
    <%= nav_link "#" do %>
        <i class="fa fa-user" ></i>
        Usuarios
    <% end %>
  </ul>

</section>